.login {
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 80%;
  max-width: 1200px;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-image {
  flex: 1.5;
  height: 100%;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.login-form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 0 8px 8px 0;
  
  .title {
    margin-bottom: 2rem;
    text-align: center;
    
    img {
      max-width: 200px;
      width: 80%;
    }
  }
  
  .ant-form {
    width: 100%;
    max-width: 300px;
  }
  
  .ant-form-item {
    margin-bottom: 1.5rem;
  }
  
  .form-item {
    border: 1px solid var(--dark-color);
  }
  
  .login-form-button {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 90%;
    flex-direction: column;
    height: auto;
  }
  
  .login-image {
    display: none;
  }
  
  .login-form {
    border-radius: 8px;
    padding: 2rem 1rem;
  }
}